*{
    font-family: 'Pompiere', cursive;
    font-size: 22px;
    color: #222;
}
html, body{
    margin: 0;
    height: 100vh;
    text-align: center;
    background-color: snow;
}
.header{
    background-image: url(./img/hemsida.png);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-attachment: scroll;
    background-size: cover;
    height: 425px;
    margin: 0;
    padding-top: 10vh;
}
.heading {
    color: #ffffff;
    display: block;
    font-family: 'Pompiere', cursive;
    font-size: 4em;
    font-weight: normal;
    text-shadow: 0 0 10px #000;
    padding-top: 15vh;
}
.heading-subtext{
    color: #fff;
    display: block;
    font-family: 'Pompiere', cursive;
    font-size: .2em;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.item {
    width: 200px;
}
.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.section{
    margin: 0 auto;
    max-width: 600px;
    padding: 1em 2.4em;
}
.sub-heading{
    font-family: 'Pompiere', cursive;
    font-size: 3em;
    margin-top: 1em;
}
.details{
    margin: 0 auto 7em;
}
.details ul, .menu li{
    text-align: left;
}
.osa{
    margin: 0;
    padding: 0;
    list-style: none;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
}
.fas {
    font-size: 3em;
    opacity: .6;
    -webkit-text-stroke: 3px snow;
}
.resort-image{
    width: 100%
}
.map{
    width:600px;
    height:450px; 
    border:0px;
}
.schema-time {
    padding-bottom: 10px;
}


#openSideMenu {
    opacity: 0;
}
#openSideMenu:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#openSideMenu:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#openSideMenu:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#openSideMenu:checked ~ .menu__box {
    left: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 46px;
    height: 46px;
    cursor: pointer;
    z-index: 6;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: saddlebrown;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}


.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: linen;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 5;

}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Pompiere', cursive;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: burlywood;
}


@media only screen and (max-width: 600px) {
    *{
        font-size: 16px;
    }
    .header{
        height: 100px;
        padding-top: 10vh;
    }
    .heading {
        font-size: 2em;
        padding-top: 2vh;
    }
    .heading-subtext{
        font-size: .5em;
    }
    .sub-heading{
        font-size: 2em;
        margin-top: 0.5em;
    }
    .map {
        width: 300px;
        height: 300px;
    }
  }